auto_prepend_file = {{ php_xhprof_html_dir }}/head.php
auto_append_file = {{ php_xhprof_html_dir }}/foot.php

[xhprof]
extension="{{ php_xhprof_module_path }}/xhprof.so"
xhprof.output_dir="{{ xhprof_output_dir }}"
